{% extends "__layout.twig" %}

{% block content %}
	Поиск

	<form method="GET" action="/search" class="row g-3">
		<div class="col-md-4">
			<input type="text" name="title" value="{{object.title}}" class="form-control" placeholder="Название">
		</div>
		<div class="col-md-4">
			<input type="text" name="description" class="form-control" placeholder="Описание">
		</div>
		<div class="col-md-4">
			<select name="type" class="form-select">
				{% for type in search_types %}
					<option value="{{ type.type }}">{{ type.type }}</option>
				{% endfor %}
			</select>
		</div>
		<div class="col-md-12">
			<button type="submit" class="btn btn-primary">Поиск</button>
		</div>
	</form>

	{% if results is defined and results|length > 0 %}
		<div class="row">
			{% for object in results %}
				<div class="col-md-4">
					<div class="card">
						<img src="{{ object.image }}" class="card-img-top" alt="{{ object.title }}">
						<div class="card-body">
							<h5 class="card-title">{{ object.title }}</h5>
							<p class="card-text">{{ object.description }}</p>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	{% else %}
		<p class="text-muted">Нет результатов для отображения.</p>
	{% endif %}


{% endblock %}
